:root {
  --font-primary-blue: rgb(55, 125, 255);
  --font-link-color: rgb(36, 118, 254);
  --font-gray: rgb(103, 120, 136);
  --background-green: rgb(1, 200, 167);

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: black;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-link-color)
}
a:hover {
  text-decoration: underline;
}

p { margin-top: 0; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

h2 { line-height: var(--size-50); }
h3 { line-height: 2rem; }


h2 {
  font-size: var(--size-40);
  margin: 8px 0;
}

h3 {
  font-size: 2rem;
  margin: 8px 0;
}

h4 {
  font-size: var(--size-16);
  margin: 15px 0;
  font-weight: 600;
  font-family: sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--font-primary-blue);
  border: 1px solid transparent;
  padding: var(--size-10) var(--size-20);
  border-radius: var(--size-30);
  transition: ease-in-out 0.3s;
  color: white;
  font-weight: 600;
}

.btn-secondary {
  padding: var(--size-14) var(--size-30);
  font-weight: 300;
  text-align: center;
}

.btn i {
  font-size: var(--size-18);
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.green-overlay {
  display: block;
  padding: 3px 10px;
  background-color: var(--background-green);
  color: white;
  font-size: 0.75rem;
  border-radius: 30px;
  font-weight: 600;
  font-family: sans-serif;
}

.grey-text-header-desc {
  font-size: var(--size-16);
  color: var(--font-gray);
}

.text-wrapper {
  text-align: center;
  max-width: 700px;
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
}


@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}