



@media screen and (max-width: 1023px) { /* Tablet layout */
  .mobile-bars  {
    display: initial;
  }

  .header .top-nav-desktop {
    display: none;
  }

  .opening-container {
    flex-direction: column;
    gap: var(--size-50);
  }

  .opening-text-wrapper {
    text-align: center;
  }

  .opening-buttons-wrapper {
    justify-content: space-evenly;
  }

  .benefit-cards-wrapper {
    flex-wrap: wrap;
  }

  .benefit-card {
    max-width: none;
    width: 45%;
  }

  .for-people-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .for-people-text-wrapper {
    align-items: center;
    text-align: center;
    max-width: 600px;
  }

  .testimonial-container {
    flex-wrap: wrap;
    text-align: center;
  }

  .testimonial-text-wrapper {
    align-items: center;
  }

  .brand-img-wrapper {
    max-width: 80px;
  }

  .pricing-wrapper {
    flex-wrap: wrap;
  }

  .price-card {
    text-align: center;
    width: 100%;
    padding-bottom: var(--size-10);
    margin: 0 var(--size-20);
  }

  .pricing-components-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .pricing-component {
    max-width: 45%;
  }

  .form-section-container {
    justify-content: space-around;
  }

  .form-text-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sign-up-form {
    max-width: 800px;
    width: 100%;
    margin-top: var(--size-20);
  }

  .form-mail input {
    width: 23px;
    height: 23px;
  }

  .form-privacy-policy {
    font-size: var(--size-14);
    justify-content: flex-start;
  }

  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] {
    display: none;
  }

  [aria-expanded="true"] {
    display: flex;
  }

}

@media screen and (max-width: 600px) { 

  .top-nav-mobile div {
    flex-direction: column;
  }

  .logo-icons-container {
    width: 370px;
    height: 320px;
  }

  .logo-icons-container .logo-wrapper:nth-child(3) {
    left: 275px;
  }
  .logo-icons-container .logo-wrapper:nth-child(4) {
    left: 26px;
    top: 115px;
  }
  .logo-icons-container .logo-wrapper:nth-child(5) {
    left: 221px;
    top: 124px;
  }
  .logo-icons-container .logo-wrapper:nth-child(6) {
    left: 105px;
    top: 225px;
  }
  .logo-icons-container .logo-wrapper:nth-child(7) {
    left: 268px;
    top: 231px;
  }

  .benefit-card {
    width: 90%;
  }

  .components-wrapper {
    flex-direction: column;
  }

  .component-wrapper {
    flex-direction: row;
    gap: var(--size-20);
    width: initial;
  }

  .component::after {
    display: none;
  }

  .brands-wrapper {
    flex-direction: column;
  }

  .brand-img-wrapper {
    max-width: var(--size-100);
  }

  .pricing-component {
    max-width: 90%;
  }

  .form-text-container {
    flex-direction: column;
    text-align: center;
  }

  .form-text-container hr {
    width: 100%;
  }

  .sign-up-form { /* I hate forms */
    display: grid;
    grid-template-areas: 
      "form-title"
      "form-first-name"
      "form-last-name"
      "form-first-name-2"
      "form-last-name-2"
      "form-budget"
      "form-country"
      "form-about"
      "form-about"
      "form-mail"
      "form-privacy-policy"
      "form-get-started";
  }

  .form-privacy-policy a:nth-child(2) {
    display: none;
  }

  .footer-resource-container {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .footer-resource-wrapper {
    align-items: center;
    width: 50%;
  }

  .footer-socials-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }

}