


/* Header */

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.project-logo-wrapper {
  width: 150px;
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-items: center;
  font-size: var(--size-14);
}

.header nav a {
  color: var(--font-gray);
  font-weight: 500;
}
.header nav a:nth-child(2) { color: var(--font-link-color); }

.header .btn {
  margin: 0 20px;
}

/* Opening Section -Text- */
.opening-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-30) 0;
}

.opening-text-wrapper p {
  color: var(--font-gray);
  font-weight: 400;
}

.opening-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--size-10);
  flex-wrap: wrap;
}

.opening-buttons-wrapper a:nth-child(2) {
  font-weight: 800;
  padding-left: var(--size-30);
}

/* Opening Section -Logos- */

.logo-icons-container {
  position: relative;
  width: 460px;
  height: 400px;
}

.logo-wrapper {
  position: absolute;
  display: block;
  height: 80px;
  width: 80px;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 10px rgba(100, 100, 100, 0.5);
}
.logo-wrapper:hover { cursor: pointer; }

.logo-small {
  height: 65px;
  width: 65px;
  padding: 10px;
}

.logo-icons-container .logo-wrapper:nth-child(1) {
  left: 20px;
  top: 5px;
}
.logo-icons-container .logo-wrapper:nth-child(2) {
  left: 140px;
  top: 5px;
}
.logo-icons-container .logo-wrapper:nth-child(3) {
  left: 375px;
  top: 5px;
}
.logo-icons-container .logo-wrapper:nth-child(3) {
  left: 375px;
  top: 5px;
}
.logo-icons-container .logo-wrapper:nth-child(4) {
  left: 0px;
  top: 175px;
}
.logo-icons-container .logo-wrapper:nth-child(5) {
  left: 240px;
  top: 175px;
}
.logo-icons-container .logo-wrapper:nth-child(6) {
  left: 105px;
  top: 290px;
}
.logo-icons-container .logo-wrapper:nth-child(7) {
  left: 355px;
  top: 315px;
}

/* Benefit Cards */
.card-section-container {
  padding: var(--size-50) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-cards-wrapper {
  margin: var(--size-50) 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-30);
}

.benefit-card {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  box-shadow: 1px 5px 10px lightgrey;
  padding: 25px 20px;
}

.benefit-card-img-wrapper {
  width: 50px;
  height: 50px;
}

.benefit-card-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-14);
}

.benefit-card > p {
  color: var(--font-gray);
}

.benefit-card > a {
  font-weight: 600;
}

/* Software for People */
.for-people-container {
  background-color: rgb(249, 250, 254);
  padding-top: var(--size-100);
  padding-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.for-people-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-20)
}

.for-people-text-wrapper > h3 {
  font-size: 1.7rem;
}

.for-people-img-wrapper {
  width: 600px;
  height: auto;
}

/* Why Front section */
.why-front-container {
  padding: var(--size-50) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.components-wrapper {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.component {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.component-outer-circle {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: rgb(236, 242, 255);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.component-inner-circle {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--font-link-color);
}

.component::after { /* Didn't feel like using a grid cuz I'm smelly :p */
  display: block;
	content: '';
	height: 1px;
  width: 150px;
	background: lightgray;
  position: absolute;
  left: 122px;
  top: 25px;
}

.components-wrapper .component:nth-child(4)::after {
  display: none;
}

.component h4 {
  font-weight: 600;
  font-family: inherit;
}

/* Why Front Video */
.why-front-video-wrapper {
  margin-top: var(--size-50);
  position: relative;
}

.video-play-button {
  display: flex;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px grey;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-play-button a i {
  font-size: var(--size-20);
  color: black;
  position: relative;
  top: 3px;
  left: 2px;
}

/* Testimonial Section */
.testimonial-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  padding: var(--size-100) 0;
  flex-wrap: wrap;
}

.testimonial-image-wrapper {
  position: relative;
  width: 450px;
}

.testimonial-image-wrapper img:nth-child(1) {
  position: absolute;
  left: 10px;
  width: 180px;
  top: 215px;
}

.testimonial-image-wrapper img:nth-child(2) {
  position: relative;
  left: 50px;
}

.testimonial-text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.testimonial-company-logo-wrapper {
  width: 100px;
  padding: var(--size-30) 0;
}

.testimonial-text-wrapper p {
  font-size: var(--size-20);
  font-weight: 600;
}

.testimonial-text-wrapper h4 {
  font-size: var(--size-18);
  margin: 0;
}
.testimonial-text-wrapper span {
  font-weight: 600;
  color: var(--font-gray);
}

/* Brands Section */
.brands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-50) 0;
}

.brands-section > h3 {
  font-size: 1.4rem;
  color: var(--font-gray);
  text-transform: uppercase;
  padding-bottom: var(--size-30);
}

.brands-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--size-18);
}

.brand-img-wrapper {
  max-width: 150px;
}

/* Pricing section */
.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--size-20);
  padding-bottom: var(--size-100);
}

.pricing-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: var(--size-40);
}

.price-card {
  padding: var(--size-50) var(--size-40);
  box-shadow: 1px 5px 10px lightgrey;
  font-size: var(--size-16);
  color: var(--font-gray);
  width: 400px;
}

.price-card-price {
  font-size: var(--size-50);
  font-weight: 600;
  color: black;
}

.price-card span:nth-child(2) { font-size: var(--size-20); }

.price-card p {
  padding-top: var(--size-20);
  padding-bottom: var(--size-30);
}

.no-credit-card-text { 
  font-size: 0.75rem;
  line-height: 0;
}

.pricing-components-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--size-20) var(--size-40);
  gap: var(--size-40);
  width: 640px;
}

.pricing-component {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.pricing-component h4 {
  font-size: var(--size-18);
}

.pricing-component > p {
  color: var(--font-gray);
}

/* Form Section -Text- */
.form-section {
  background-color: var(--form-background);
}

.form-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-50) var(--size-20);
}

.form-text-container {
  color: white;
  max-width: 400px;
}

.form-text-container h3 {
  padding-bottom: var(--size-10);
}

.form-text-container p {
  font-size: var(--size-18);
}

.form-text-container p:first-of-type {
  color: var(--font-gray);
}

.form-text-container hr {
  background-color: white;
  height: 1px;
  width: 50%;
  border: 1px solid transparent;
  margin-inline-start: 0;
  margin: var(--size-30) 0;
}

.form-text-container p:nth-child(4) {
  font-style: italic;
}

.form-text-container h4 {
  margin-bottom: 0;
  font-size: 1.375rem;
}

.form-text-container span {
  color: var(--font-gray);
}

.form-team-people-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--size-30);
  align-items: center;
  margin-top: var(--size-50);
}

.team-member-img-wrapper {
  width: 50px;
  height: 50px;
}

.team-member-img-wrapper img {
  border-radius: 50%;
}

.form-team-people-wrapper div:nth-child(3) {
  width: 60px;
  height: 60px;
}


/* Form Section -Form- */
.sign-up-form { /* I hate forms */
  display: grid;
  grid-template-areas: 
    "form-title form-title"
    "form-first-name form-last-name"
    "form-first-name-2 form-last-name-2"
    "form-budget form-country"
    "form-about form-about"
    "form-about form-about"
    "form-mail form-mail"
    "form-privacy-policy-1 form-privacy-policy-2"
    "form-get-started form-get-started";
  background-color: white;
  border-radius: 8px;
  padding: var(--size-30);
  gap: var(--size-16);
  max-width: 500px;
}

.sign-up-form p {
  font-weight: 600;
  font-size: var(--size-18);
  grid-area: form-title;
  margin-bottom: 0;
}

.sign-up-form input,
.sign-up-form select,
.sign-up-form textarea {
  border-radius: 5px;
  height: 45px;
  border: 1px solid lightgray;
  font-size: var(--size-16);
  padding: 5px var(--size-10);
  font-family: sans-serif;
  resize: none;
}

.form-title { grid-area: form-title; }
.form-first-name { grid-area: form-first-name; }
.form-last-name { grid-area: form-last-name; }
.form-first-name-2 { grid-area: form-first-name-2; }
.form-last-name-2 { grid-area: form-last-name-2; }
.form-budget { grid-area: form-budget; }
.form-country { grid-area: form-country; }
.form-about { grid-area: form-about; }
.form-mail { grid-area: form-mail; }
.form-privacy-policy-1 { grid-area: form-privacy-policy-1; }
.form-privacy-policy-2 { grid-area: form-privacy-policy-2; }
.form-get-started { grid-area: form-get-started; }

.sign-up-form textarea { height: var(--size-150); }

.form-mail {
  display: flex;
  flex-direction: row;
  gap: var(--size-10);
  align-items: flex-start;
}

.form-mail input {
  width: 35px;
  height: 35px;
}

.form-mail label { color: var(--font-gray); }

.form-privacy-policy-1, .form-privacy-policy-2 {
  text-align: center;
  font-weight: 600;
  font-size: var(--size-16);
}

.form-get-started {
  justify-self: center;
  padding-top: var(--size-20);
}

/* Footer -Resources- */

.footer-container {
  padding-top: var(--size-100);
  padding-bottom: var(--size-30);
  display: flex;
  flex-direction: column;
}

.footer-resource-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-50);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 var(--size-10);
}

.footer-resource-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-resource-wrapper div:nth-child(1) {
  padding-bottom: 8px;
  font-size: var(--size-18);
  font-weight: 600;
  font-family: sans-serif;
}

.footer-resource {
  display: flex;
  flex-direction: row;
  gap: var(--size-10);
  justify-content: flex-start;
  align-items: center;
}

.footer-resource .project-logo-wrapper { width: 125px; }
.footer-resource a {
  font-weight: 600;
  color: var(--font-gray);
}

.footer-container a.blue {
  color: var(--font-link-color);
}

.hiring-block {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(36, 118, 254);
  font-size: var(--size-10);
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 5px;
}

.footer-container hr {
  border: 1px solid transparent;
  background-color: lightgray;
  height: 1px;
  width: 94%;
  margin: var(--size-40) 3%;
}

/* Footer -Socials & Copyright- */

.footer-socials-container {
  color: var(--font-gray);
  font-size: var(--size-16);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  margin-left: 3%;
  flex-wrap: wrap;
  gap: var(--size-14);
}

.footer-socials-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--size-20);
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background-color: rgb(236, 242, 255);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.social-box.invert {
  background-color: var(--font-gray);
  color: rgb(236, 242, 255);
}

.social-box.select-box {
  width: fit-content;
  padding: 0 var(--size-10);
}

.copyright {
  max-width: 800px;
  color: var(--font-gray);
  font-size: var(--size-14);
  text-align: center;
  align-self: center;
  padding-top: var(--size-50);
}



/* Media Queries */

@media (max-width: 1200px) {
  .for-people-container {
    justify-content: center;
    gap: 50px;
  }
}









